@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap);

.body{
    margin: 0px;
    font-size: 16px;
    font-family:"Noto Sans TC"
}

.hide-bg { 
    position:absolute;
    left:0px;
    top:0px;
    background-color:#000;
    width:100%;
    opacity:0.25;
    display:none;
    z-Index:2;
}

.bg { 
    position:absolute;
    left:0px;
    top:0px;
    width:100%;
    display:block;
    z-Index:2;
}

.header_bg{
    position: sticky;
    z-index: 999;
    top: 0px;
    height: 54px;
    background-color: #FFFFFF;
    border-bottom: 0.5px #d0d0d0 solid;
}

.header{
    margin:0px auto;
    display: flex;
    width: 1200px;
    height: 54px;
    align-items: center;
    justify-content: center;
    position: sticky;
    z-index: 999;
    top: 0px;
    background-color: #FFFFFF;
}

.title{
    flex: none;
    font-size: 30px;
    color: #448899;
    font-weight: 700;
    text-decoration: none;
}

.right{
    flex: auto;
    display: flex;
    justify-content: flex-end;
}

.func--img{
    width: 25px;
    height: 25px;
}

.cart{
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.member{
    width: 100px;
    height: 110px;
    display: none;
    z-index: 999;
    top: 60px;
    right: 5px;
    position: absolute;
    background-color: #ffffff;
    border: 0px none;
    border-radius: 5px;
    box-shadow: 0 2px 6px #757575;
}

.member-func{
    padding: 3px 0px 3px 0px;
    cursor: pointer;
    color: #666666;
    text-align: center;
    margin: 5px;
}

.member-func:hover{
    border-radius: 5px;
    background-color: #E8E8E8;
}

.a func{
    color: #666666;
}

.func{
    cursor: pointer;
    flex: none;
    margin-right: 10px;
    color: #666666;
}

.sign-in::before{
    position: absolute; 
    top: 0px;
    content: ""; 
    width: 100%;
    height: 10px;
    background: linear-gradient(270deg, #337788 0%, #66AABB 100%);
    border: 0px none;
    border-radius: 5px 5px 0px 0px;
}

.sign-in{
    display: none;
    z-index: 999;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    width: 340px;
    height: 275px;
    background-color: #ffffff;
    border: 0px none;
    border-radius: 5px;
    box-shadow: 0 2px 6px #757575;
}

.sign-in-bar{
    display: flex;
}

.sign-in-title{
    flex: auto;
    margin-top: 20px;
    margin-left: 31px;
    font-size: 24px;
    font-weight: 700;
    color: #757575;
    text-align: center;
    justify-content: center;
}

.sign-in-form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.user-input{
    outline: none;
    width: 291px;
    height: 47px;
    margin: 5px 0px;
    justify-content: center;
    align-items: center;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    padding-left: 15px;
}

.sign-in-button{
    cursor: pointer;
    width: 310px;
    height: 47px;
    font-size: 19px;
    background: #448899;
    border-radius: 5px;
    border: #448899;
    color: #ffffff;
    margin: 5px 0px;
    transition-duration: 0.4s;
}

.sign-in-button:hover{
    background-color: #478fa1;
    box-shadow: 0 3px 3px 0 rgba(141, 141, 141, 0.738);
}

.sign-alert{
    text-align:center;
    width: 310px;
    color: red;
}

.sign-in-content{
    cursor: pointer;
    color: #666666;
    margin: 5px 0px;
}

.register::before{
    position: absolute; 
    top: 0px;
    content: ""; 
    width: 100%;
    height: 10px;
    background: linear-gradient(270deg, #337788 0%, #66AABB 100%);
    border: 0px none;
    border-radius: 5px 5px 0px 0px;
}

.register{
    display: none;
    z-index: 999;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    width: 340px;
    height: 332px;
    background-color: #ffffff;
    border: 0px none;
    border-radius: 5px;
    box-shadow: 0 2px 6px #757575;
}

.register-bar{
    display: flex;
}

.close-button{
    cursor: pointer;
    position: static;
    width: 16px;
    height: 16px;
    flex: none;
    justify-content: end;
    margin-top: 23px;
    margin-right: 15px;
}

.register-title{
    flex: auto;
    margin-top: 20px;
    margin-left: 31px;
    font-size: 24px;
    font-weight: 700;
    color: #757575;
    text-align: center;
    justify-content: center;
}

.register-form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.register-button{
    cursor: pointer;
    width: 310px;
    height: 47px;
    font-size: 19px;
    background: #448899;
    border-radius: 5px;
    border: #448899;
    color: #ffffff;
    margin: 5px 0px;
    transition-duration: 0.4s;
}

.register-button:hover{
    background-color: #478fa1;
    box-shadow: 0 3px 3px 0 rgba(141, 141, 141, 0.738);
}

.register-alert{
    text-align:center;
    width: 310px;
    color: red;
}

.register-content{
    cursor: pointer;
    color: #666666;
    margin: 5px 0px;
}

.remind::before{
    position: absolute; 
    top: 0px;
    content: ""; 
    width: 100%;
    height: 10px;
    background: linear-gradient(270deg, #337788 0%, #66AABB 100%);
    border: 0px none;
    border-radius: 5px 5px 0px 0px;
}

.remind{
    display: none;
    z-index: 999;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    width: 340px;
    height: 120px;
    background-color: #ffffff;
    border: 0px none;
    border-radius: 5px;
    box-shadow: 0 2px 6px #757575;
}

.text-remind{
    margin-top: 0px;
    font-size: 28px;
    font-weight: 500;
    color: #757575;
    text-align: center;
    justify-content: center;
}

.close-button-remind{
    cursor: pointer;
    width: 16px;
    height: 16px;
    margin-top: 23px;
    margin-left: 310px;
}

.footer{
    height: 104px;
    background-color: #757575;
    text-align: center;
    line-height: 104px;
    color: #ffffff;
}

@media (max-width:1199px){
    .header_bg{
        flex-wrap: wrap;
    }

    .header{
        width: 100%;
    }

    .title{
        margin-left: 10px;
    }

    .right{
        margin-right: 0px;
    }
}

@media (max-width:599px){
    .header_bg{
        flex-wrap: wrap;
    }

    .header{
        width: 100%;
    }

    .title{
        margin-left: 10px;
    }

    .right{
        margin-right: 0px;
    }
}