<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta charset="utf-8">
        <title>台北一日遊</title>
        <link rel="stylesheet" type="text/css" href="/css/index.css">
    </head>
    <body class="body">
        <div class="header_bg">
            <div class="header">
                <div class="title">台北一日遊</div>
                <div class="right">
                    <div class="func">預定行程</div>
                    <div class="func">登入/註冊</div>
                </div>
            </div>    
        </div>
        <div class="welcome_image">
            <div class="welcome">
                <div class="describe1">輕鬆享受台北一日悠閒</div>
                <div class="describe2">探索每個角落，體驗城市的深度旅遊行程</div>
                <div class="input">
                    <input class="input_text" type="text" name="keyword" placeholder="輸入景點名稱查詢"></input>
                    <button class="search_image" onclick="searchData();"><img src="/image/icon_search.png"></button>
                </div>
                <div class="categories_menu" id="categories_menu">
                    <div class="categories_list" id="categories_list"></div>
                </div>
            </div>
        </div>
        <div class="content" id="content">
            <a class="link">
                <div class="attraction">
                    <div class="attraction_img">
                        <img src="" class="img">
                        <div class="attraction_name"></div>
                    </div>    
                    <div class="transport">
                        <div class="mrt"></div>
                        <div class="category"></div>
                    </div>
                </div>
            </a>
            <a class="link">
            <div class="attraction">
                <div class="attraction_img">
                    <img src="" class="img">
                    <div class="attraction_name"></div>
                </div>
                <div class="transport">
                    <div class="mrt"></div>
                    <div class="category"></div>
                </div>
            </div>
            </a>
            <a class="link">
                <div class="attraction">
                    <div class="attraction_img">
                        <img src="" class="img">
                        <div class="attraction_name"></div>
                    </div>    
                    <div class="transport">
                        <div class="mrt"></div>
                        <div class="category"></div>
                    </div>
                </div>
            </a>
            <a class="link">
                <div class="attraction">
                    <div class="attraction_img">
                        <img src="" class="img">
                        <div class="attraction_name"></div>
                    </div>    
                    <div class="transport">
                        <div class="mrt"></div>
                        <div class="category"></div>
                    </div>
                </div>
            </a>
            <a class="link">
                <div class="attraction">
                    <div class="attraction_img">
                        <img src="" class="img">
                        <div class="attraction_name"></div>
                    </div>    
                    <div class="transport">
                        <div class="mrt"></div>
                        <div class="category"></div>
                    </div>
                </div>
            </a>
            <a class="link">
                <div class="attraction">
                    <div class="attraction_img">
                        <img src="" class="img">
                        <div class="attraction_name"></div>
                    </div>    
                    <div class="transport">
                        <div class="mrt"></div>
                        <div class="category"></div>
                    </div>
                </div>
            </a>
            <a class="link">
                <div class="attraction">
                    <div class="attraction_img">
                        <img src="" class="img">
                        <div class="attraction_name"></div>
                    </div>    
                    <div class="transport">
                        <div class="mrt"></div>
                        <div class="category"></div>
                    </div>
                </div>
            </a>
            <a class="link">
                <div class="attraction">
                    <div class="attraction_img">
                        <img src="" class="img">
                        <div class="attraction_name"></div>
                    </div>    
                    <div class="transport">
                        <div class="mrt"></div>
                        <div class="category"></div>
                    </div>
                </div>
            </a>
            <a class="link">
                <div class="attraction">
                    <div class="attraction_img">
                        <img src="" class="img">
                        <div class="attraction_name"></div>
                    </div>    
                    <div class="transport">
                        <div class="mrt"></div>
                        <div class="category"></div>
                    </div>
                </div>
            </a>
            <a class="link">
                <div class="attraction">
                    <div class="attraction_img">
                        <img src="" class="img">
                        <div class="attraction_name"></div>
                    </div>    
                    <div class="transport">
                        <div class="mrt"></div>
                        <div class="category"></div>
                    </div>
                </div>
            </a>
            <a class="link">
                <div class="attraction">
                    <div class="attraction_img">
                        <img src="" class="img">
                        <div class="attraction_name"></div>
                    </div>    
                    <div class="transport">
                        <div class="mrt"></div>
                        <div class="category"></div>
                    </div>
                </div>
            </a>
            <a class="link">
                <div class="attraction">
                    <div class="attraction_img">
                        <img src="" class="img">
                        <div class="attraction_name"></div>
                    </div>    
                    <div class="transport">
                        <div class="mrt"></div>
                        <div class="category"></div>
                    </div>
                </div>
            </a>
        </div>
        <div class="footer">COPYRIGHT © 2022 台北一日遊</div>
        <script type="text/javascript" src="/js/index.js"></script>
    </body>
</html>