<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta charset="utf-8">

        {% block title %}
        <title>台北一日遊</title>
        <link rel="stylesheet" type="text/css" href="/css/index.css">
        {% endblock %}
        <link rel="stylesheet" type="text/css" href="/css/common.css">

    </head>
    <body class="body">
        <div class="hide-bg" onclick="userClose()"></div>
        <div class="bg" onclick="memberClose()"></div>
        <div class="header_bg">
            <div class="header">
                <a class="title" href="/">台北一日遊</a>
                <div class="right">
                    <a class="func" id="cartFunc"><img src="/image/cart.png" class="cart"></a>
                    <img src="/image/user.png" class="func func--img" id="userFunc">
                    <!-- <a class="func" onclick="booking()"><img src="image/cart.png" class="cart"></a> -->
                    <!-- <div class="func" onclick="sign()" id="func"></div> -->
                    <!-- <img src="/image/user.png" class="func func--img" onclick="sign()" id="func"> -->
                    <div class="member" id="member">
                        <div class="member-func">個人資料</div>
                        <div class="member-func">訂單查詢</div>
                        <div class="member-func" onclick="signup()">登出系統</div>
                    </div>
                </div>
            </div>  
            <div class="sign-in">
                <div class="sign-in-bar">
                    <div class="sign-in-title">登入會員帳號</div>
                    <img src="/image/icon_close.png" class="close-button" onclick="userClose()">
                </div>
                <div class="sign-in-form" id="sign-in-form">
                    <input type="text" placeholder="輸入電子信箱" class="user-input" id="signInEmail">
                    <input type="password" placeholder="輸入密碼" class="user-input" id="signInPassword">
                    <button class="sign-in-button" onclick="signIn();">登入帳戶</button>
                    <div class="sign-alert"></div>
                    <div class="sign-in-content" onclick="toRegister();">還沒有帳戶？點此註冊</div>
                    
                </div>
            </div>
            <div class="register">
                <div class="register-bar">
                    <div class="register-title">註冊會員帳號</div>
                    <img src="/image/icon_close.png" class="close-button" onclick="userClose()">
                </div>
                <div class="register-form" id="register-form">
                    <input type="text" placeholder="輸入姓名" class="user-input" id="registerName">
                    <input type="text" placeholder="輸入電子信箱" class="user-input" id="registerEmail">
                    <input type="password" placeholder="輸入密碼" class="user-input" id="registerPassword">
                    <button class="register-button" onclick="register();">註冊新帳戶</button>
                    <div class="register-alert"></div>
                    <div class="register-content" onclick="toSignIn();">已經有帳戶了？點此登入</div>
                </div>
            </div>  
            <div class="remind">
                <img src="/image/icon_close.png" class="close-button-remind" onclick="userClose()">
                <div class="text-remind"></div>
            </div>
        </div>

        {% block content %}
        <div class="welcome_image">
            <div class="welcome">
                <div class="describe1">輕鬆享受台北一日悠閒</div>
                <div class="describe2">探索每個角落，體驗城市的深度旅遊行程</div>
                <div class="input">
                    <input class="input_text" type="text" name="keyword" placeholder="輸入景點名稱查詢"></input>
                    <button class="search_image" onclick="searchData();"><img src="/image/icon_search.png"></button>
                </div>
                <div class="categories_menu" id="categories_menu">
                    <div class="categories_list" id="categories_list"></div>
                </div>
            </div>
        </div>
        <div class="content" id="content">
            <a class="link">
                <div class="attraction">
                    <div class="attraction_img">
                        <img src="" class="img">
                        <div class="attraction_name"></div>
                    </div>    
                    <div class="transport">
                        <div class="mrt"></div>
                        <div class="category"></div>
                    </div>
                </div>
            </a>
            <a class="link">
            <div class="attraction">
                <div class="attraction_img">
                    <img src="" class="img">
                    <div class="attraction_name"></div>
                </div>
                <div class="transport">
                    <div class="mrt"></div>
                    <div class="category"></div>
                </div>
            </div>
            </a>
            <a class="link">
                <div class="attraction">
                    <div class="attraction_img">
                        <img src="" class="img">
                        <div class="attraction_name"></div>
                    </div>    
                    <div class="transport">
                        <div class="mrt"></div>
                        <div class="category"></div>
                    </div>
                </div>
            </a>
            <a class="link">
                <div class="attraction">
                    <div class="attraction_img">
                        <img src="" class="img">
                        <div class="attraction_name"></div>
                    </div>    
                    <div class="transport">
                        <div class="mrt"></div>
                        <div class="category"></div>
                    </div>
                </div>
            </a>
            <a class="link">
                <div class="attraction">
                    <div class="attraction_img">
                        <img src="" class="img">
                        <div class="attraction_name"></div>
                    </div>    
                    <div class="transport">
                        <div class="mrt"></div>
                        <div class="category"></div>
                    </div>
                </div>
            </a>
            <a class="link">
                <div class="attraction">
                    <div class="attraction_img">
                        <img src="" class="img">
                        <div class="attraction_name"></div>
                    </div>    
                    <div class="transport">
                        <div class="mrt"></div>
                        <div class="category"></div>
                    </div>
                </div>
            </a>
            <a class="link">
                <div class="attraction">
                    <div class="attraction_img">
                        <img src="" class="img">
                        <div class="attraction_name"></div>
                    </div>    
                    <div class="transport">
                        <div class="mrt"></div>
                        <div class="category"></div>
                    </div>
                </div>
            </a>
            <a class="link">
                <div class="attraction">
                    <div class="attraction_img">
                        <img src="" class="img">
                        <div class="attraction_name"></div>
                    </div>    
                    <div class="transport">
                        <div class="mrt"></div>
                        <div class="category"></div>
                    </div>
                </div>
            </a>
            <a class="link">
                <div class="attraction">
                    <div class="attraction_img">
                        <img src="" class="img">
                        <div class="attraction_name"></div>
                    </div>    
                    <div class="transport">
                        <div class="mrt"></div>
                        <div class="category"></div>
                    </div>
                </div>
            </a>
            <a class="link">
                <div class="attraction">
                    <div class="attraction_img">
                        <img src="" class="img">
                        <div class="attraction_name"></div>
                    </div>    
                    <div class="transport">
                        <div class="mrt"></div>
                        <div class="category"></div>
                    </div>
                </div>
            </a>
            <a class="link">
                <div class="attraction">
                    <div class="attraction_img">
                        <img src="" class="img">
                        <div class="attraction_name"></div>
                    </div>    
                    <div class="transport">
                        <div class="mrt"></div>
                        <div class="category"></div>
                    </div>
                </div>
            </a>
            <a class="link">
                <div class="attraction">
                    <div class="attraction_img">
                        <img src="" class="img">
                        <div class="attraction_name"></div>
                    </div>    
                    <div class="transport">
                        <div class="mrt"></div>
                        <div class="category"></div>
                    </div>
                </div>
            </a>
        </div>
        {% endblock %}

        <div class="footer">COPYRIGHT © 2022 台北一日遊</div>
        <script type="text/javascript" src="/js/common.js"></script>
        
        {% block script %}
        <script type="text/javascript" src="/js/index.js"></script>
        {% endblock %}

    </body>
</html>