{% extends 'index.html' %}

{% block title %}
<title>您的訂單</title>
<link rel="stylesheet" type="text/css" href="/css/orders.css">
{% endblock %}

{% block content %}

<div class="content">
    <!-- <div class="content-title">您好，您的待預定行程如下：</div>
    <div class="wrap-content">
            <div class="text-content--title">訂單編號：</div>
        <div class="wrap">
                <div class="content-left">
            <img class="img"> 
            </div>
            <div class="content-right">
                <div class="text-content-top" id="a-name">景點</div>
                <div class="text-content" id="date">日期：</div>
                <div class="text-content" id="time">時間：</div>
                <div class="text-content" id="address">地點：</div>
                <div class="text-content" id="price">金額：</div>
                <div class="text-content-bottom">已付款</div>
            </div>
        </div>
     </div> -->
</div>
{% endblock %}

{% block script %}
<script type="text/javascript" src="/js/orders.js"></script>
{% endblock %}